# Dependencies
node_modules
.pnpm-store

# Environment variables
.env
.env.*
!.env.example

# Build outputs
dist
build
.next
out
.expo
.expo-shared
web-build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Testing & Coverage
coverage
.nyc_output

# Turborepo
.turbo

# IDE and OS
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary / Cache
*.tsbuildinfo
.eslintcache

# Private Document Storage (Development)
.private_storage/
